.job style="opacity: 0.7;" data-toggle="tooltip" data-title="Post a new job"
  .wanted WANTED
  div style="background-color: #FFF0D1; display: inline-block; line-height: 1; width: 70px; height: 70px; line-height: 70px; border-radius: 50%; font-size: 40px; margin-top: 25px;"
    = icon 'plus'
